NET "sw[0]" LOC = T10;
NET "sw[1]" LOC = T9;
NET "sw[2]" LOC = V9;
NET "sw[3]" LOC = M8;
NET "sw[4]" LOC = N8;
NET "sw[5]" LOC = U8;
NET "sw[6]" LOC = V8;
NET "sw[7]" LOC = T5;
NET "rst" LOC = C4; //btnL
NET "ent" LOC = B8; // middle button
NET "change" LOC = D9; // btnR
NET "clr" LOC = C9; // btnD
NET "backdoor" LOC = A8; //btnU
NET "clk" LOC = V10;
NET "seven_out[0]" LOC = L14;
NET "seven_out[1]" LOC = N14;
NET "seven_out[2]" LOC = M14;
NET "seven_out[3]" LOC = U18;
NET "seven_out[4]" LOC = U17;
NET "seven_out[5]" LOC = T18;
NET "seven_out[6]" LOC = T17;
NET "AN[0]" LOC = N16;
NET "AN[1]" LOC = N15;
NET "AN[2]" LOC = P18;
NET "AN[3]" LOC = P17;
NET "led[0]" LOC = U16;
NET "led[1]" LOC = V16;
NET "led[2]" LOC = U15;
NET "led[3]" LOC = V15;
NET "led[4]" LOC = M11;
NET "led[5]" LOC = N11;
